@model IEnumerable<Veep.Models.Note>

<h2>Notes</h2>


<div class="container">
    @foreach (var notes in Model)
    {
        <div class="note">    
            <a> <img src="http://www.clker.com/cliparts/Q/e/P/J/C/t/pencil-hi.png" /></a>
            <h1>@notes.title</h1>
            <p>@notes.content</p>
        </div>
    }
</div>
